<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Hacknights 2016 @ F-Lab Space</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

</head>
<body>

    <div class="container" style="margin-top: 6rem; text-align: center;">
    <h1> HackNights 2016 @ F-Lab</h2>
    <% for(var user in urls){ %>
        <div class="row" style="text-align: center;">
                <h2><a href="http://<%= user %>.flab.space/"><%= user %></a></h2>
                <% urls[user].forEach(function(url) { -%>
                    <% var sketchName = url.split("/").slice(1).join("/"); %>
                    <div class="three columns">
                        <a href="http://<%= url %>">
                                <strong><%= sketchName.replace("/"," ") %></strong>
                                <img class="value-img" src="http://<%=url %>index.html.png" width="100%">
                            </a>
                    </div>
                <% }) -%>
            </div>
    <% }; %>

    </div>
</body>
</html>
